
/* <**************************************top nav************************> */
.top .nav-link {
  font-weight: 800;
  color: #cc0001 !important;
  
}

.top .nav-link:hover {

  color: #020202 !important;
  font-weight: 800;
}



.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: rgba(0, 0, 0, 0.9) !important;
  font-weight: 800;
}


.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  text-align: center;
  
}


.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -45px;
  margin-top: var(--bs-dropdown-spacer);
}


.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color:#000000 !important;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color:#cc0001 !important;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ecebeb;
  border: 0;
}

/* <**************************************top nav end************************> */


/* <**************************************banner in common pages************************> */

.about h1  {
  width: 100%;
  float: left;
  font-family: 'Playfair Display', serif;
  margin: 0 0 20px 0;
  
  line-height: 40px;
  font-weight: 700;
  color:#cc0001;
}

.breadcrumb{
  margin-bottom: 0px !important;
}

.breadcrumb_outer {
  background: #d8d8d8;
  padding:0px;
}

.breadcrumb-item a{
  color: #cc0001;
}

/* <**************************************banner in common pages end************************> */

/* <**************************************CONTACT us************************> */

.contact{
  background-color:#fcfcfc;
}

.contact h1  {
  width: 100%;
  float: left;
  font-family: 'Playfair Display', serif;
  margin: 0 0 20px 0;
  
  line-height: 40px;
  font-weight: 700;
  color:#cc0001;
}



input[type="text"], input[type="email"], input[type="password"], input[type="file"], input[type="date"], textarea, select {
    outline: none !important;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07)!important;
    font-size: 14px !important;
    background: #fff !important;
    color: #808080 !important;
    border: none !important ;
    padding: 15px;
   
}
.btn-effect-contact {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: inline-block;
  background: #119c3a;
  color: #ecebeb;
}

.btn-effect-contact span {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-radius: 100%;
	background: #cc0001 !important;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
}
.btn-effect-contact:hover span {
	width: 225%;
	height: 262.5px;
}
.btn-effect-contact:active {
	background-color: #fff;
}



.address_box1{
    width: auto;
    line-height: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #0f0f0f;
    margin: 0 0 15px 25px;
}

.address1 a {
  line-height: 33px;
  font-weight: 400;
  font-size: 14px;
  color: #0f0f0f;
}

/* <**************************************CONTACT US END************************> */ 


/* <**************************************PRODUCTS catagory************************> */ 


.links-use{
  border-radius: 1.25rem;
  /* border: solid 2px #cc0001 ; */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  padding: 10px;
  border: 1px solid #eeeeee;
  background-color: #fff;
  margin-bottom: 20px;
  
}



.links-use li{

  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
}


.links-use h4{
  padding: 5px;
  background: #cc0001;
  color: #ffff;
}


.links-use li a {
  /* background: #003f5e; */
  color: #000000;
  font-weight: 500;
  transition: 0.5s;
  
  font-size: 16px;
  padding:0px ;
  text-align: center;
  transition: all 0.5s linear;
}
.links-use li a:hover {
  /* background-color: #003f5e; */
  color: #fff;
  padding-left: 15px;
  transition: all 0.5s linear;
  
}

.links-use li:hover {
  background-color: #cc0001;
  color: #fff !important;
  padding-left: 15px;
  transition: all 0.5s linear;
  width: 100%;
  
}



.single-tech-news h3:hover a {
  color: #fff;
}
.single-tech-news h3:hover {
  background-color: #003f5e;
  color: #fff;
  padding-left: 5px;
  transition: all 0.5s linear;
}


/* <**************************************PRODUCTS catagory************************> */ 

.products_title1 {
	width: 100%;
	float: left;
	/* font-family: 'Playfair Display', serif; */
  	position: relative;
  	font-size: 16px;
    font-weight: 700;
	text-align: center;
	color: #333;
	letter-spacing: .5px;
}

/* <**************************************PRIVACY POLICY************************> */ 
  .privacy p{
    color: #000000;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
  }

  /* <**************************************FAQ************************> */ 




.accordion-button:not(.collapsed) {
    color:#ffffff !important;
    background-color:#cc0001 !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: none !important;
}

.accordion-item{
  margin: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 10px 10px 10px 10px !important;
    border: none !important;
}



